window#waybar {
    background-color: #e6e9ef;
    font-family: Ubuntu;
    font-size: 18;
}

#clock {
    font-family: Ubuntu;
    font-weight: bold;
    color: #d20f39;
}

#battery {

}

#battery.warning {
    color: #df8e1d;
}

#battery.critical {
    color: #d20f39;
}

#battery.charging {
    color: #1e66f5;
}

#pulseaudio {
    color: #209fb5;
}

#memory {
    color: #209fb5;
}

#cpu {
    color: #209fb5;
}

#network {
    color: #40a02b;
}

#network.disconnected {
    color: #df8e1d;
}
